# Pandas

### Series

In [50]:
import pandas as pd

In [51]:
l = [50, 12, 'dog', 4.5]

In [53]:
ser1 = pd.Series(l)

In [54]:
ser1

0     50
1     12
2    dog
3    4.5
dtype: object

In [55]:
ser1.index

RangeIndex(start=0, stop=4, step=1)

In [58]:
ser1.values

array([50, 12, 'dog', 4.5], dtype=object)

In [59]:
l2 = [1, 10, 100, 1, 10]

In [62]:
pd.Series(l2, index=['A', 'B', 'C', 'D', 'E'])

A      1
B     10
C    100
D      1
E     10
dtype: int64

In [64]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [63]:
pd.Series(l2, index=list('ABCDE'))

A      1
B     10
C    100
D      1
E     10
dtype: int64

In [66]:
indx = "AB CD EF GH YH".split()

In [68]:
ser2 = pd.Series(l2, index= indx)

In [69]:
ser2

AB      1
CD     10
EF    100
GH      1
YH     10
dtype: int64

In [70]:
ser2[0]

1

In [71]:
ser2.iloc[0]

1

In [72]:
ser2['AB']

1

In [73]:
ser2.AB

1

In [74]:
ser2.loc['AB']

1

In [75]:
ser2.sum()

122

In [76]:
ser2.AB + ser2.CD

11

In [77]:
ser2.cumsum()

AB      1
CD     11
EF    111
GH    112
YH    122
dtype: int64

In [79]:
ser2.diff().fillna(0)

AB     0.0
CD     9.0
EF    90.0
GH   -99.0
YH     9.0
dtype: float64

In [81]:
ser2.diff().dropna()

CD     9.0
EF    90.0
GH   -99.0
YH     9.0
dtype: float64

In [82]:
ser2.diff()[1:]

CD     9.0
EF    90.0
GH   -99.0
YH     9.0
dtype: float64

In [83]:
ser2

AB      1
CD     10
EF    100
GH      1
YH     10
dtype: int64

In [84]:
ser2.shift(-1)

AB     10.0
CD    100.0
EF      1.0
GH     10.0
YH      NaN
dtype: float64

In [85]:
ser2.shift(-1)[:-1]

AB     10.0
CD    100.0
EF      1.0
GH     10.0
dtype: float64

In [86]:
ser2.value_counts()

10     2
1      2
100    1
dtype: int64

In [91]:
ser2.div(10).mul(100)

AB      10.0
CD     100.0
EF    1000.0
GH      10.0
YH     100.0
dtype: float64

### apply

In [92]:
def add_5(x):
    return x + 5

In [93]:
ser2.apply(add_5)

AB      6
CD     15
EF    105
GH      6
YH     15
dtype: int64

In [95]:
add_5_l = lambda x: x + 5

In [96]:
ser2.apply(add_5_l)

AB      6
CD     15
EF    105
GH      6
YH     15
dtype: int64

In [97]:
ser2.apply(lambda x: x + 5)

AB      6
CD     15
EF    105
GH      6
YH     15
dtype: int64

In [99]:
ser2.dtype

dtype('int64')

In [100]:
ser2.astype(float)

AB      1.0
CD     10.0
EF    100.0
GH      1.0
YH     10.0
dtype: float64

In [101]:
ser2.apply(lambda x: float(x))

AB      1.0
CD     10.0
EF    100.0
GH      1.0
YH     10.0
dtype: float64

In [102]:
ser2.apply(float)

AB      1.0
CD     10.0
EF    100.0
GH      1.0
YH     10.0
dtype: float64

### Assignment

Calculate mean of Series ... in 3 ways